services:
  backend-flask:
    environment:
      - FRONTEND_URL=${FRONTEND_URL}
      - BACKEND_URL=${BACKEND_URL}
      - HONEYCOMB_API_KEY=${HONEYCOMB_API_KEY:-}
      - HONEYCOMB_DATASET=${HONEYCOMB_DATASET:-cruddur}
      - OTEL_SERVICE_NAME=${SERVICE_NAME:-backend-flask}
      - OTEL_EXPORTER_OTLP_ENDPOINT=https://api.honeycomb.io/v1/traces
      - OTEL_EXPORTER_OTLP_HEADERS=x-honeycomb-team=${HONEYCOMB_API_KEY:-}
      - AWS_XRAY_URL=${AWS_XRAY_URL}
      - AWS_XRAY_DAEMON_ADDRESS=xray-daemon:2000
      - AWS_DEFAULT_REGION=${AWS_REGION:-ca-central-1}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}
      - AWS_COGNITO_USER_POOL_ID=${AWS_COGNITO_USER_POOL_ID}
      - AWS_COGNITO_USER_POOL_CLIENT_ID=${AWS_COGNITO_USER_POOL_CLIENT_ID}
    env_file:
      - .env
    build: ./backend-flask
    ports:
      - "4567:4567"
    volumes:
      - ./backend-flask:/backend-flask
    networks:
      - internal-network
  frontend-react-js:
    environment:
      - REACT_APP_BACKEND_URL=${REACT_APP_BACKEND_URL}
      - REACT_APP_AWS_PROJECT_REGION=${AWS_DEFAULT_REGION}
      - REACT_APP_AWS_COGNITO_REGION=${AWS_DEFAULT_REGION}
      - REACT_APP_AWS_USER_POOLS_ID=${AWS_USER_POOLS_ID}
      - REACT_APP_CLIENT_ID=${AWS_CLIENT_ID}
    build: ./frontend-react-js
    ports:
      - "3000:3000"
    volumes:
      - ./frontend-react-js:/frontend-react-js
      - /frontend-react-js/node_modules
    networks:
      - internal-network
  dynamodb-local:
    user: root
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    networks:
      - internal-network
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
    networks:
      - internal-network
  xray-daemon:
    image: "amazon/aws-xray-daemon"
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION:-ca-central-1}
    command:
      - "xray -o -b xray-daemon:2000"
    ports:
      - 2000:2000/udp
    networks:
      - internal-network

networks: 
  internal-network:
    driver: bridge
    name: cruddur

volumes:
  db:
    driver: local
